<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info">
                        <i class="fa fa-chalkboard-teacher"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{statistics?.totalUsers}}</h3>
                        <small class="text-muted fs-3">Total des Professeurs</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success">
                        <i class="fa fa-building-columns"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{statistics?.totalFournisseurs}}</h3>
                        <small class="text-muted fs-3">Total des Départements</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning">
                        <i class="fa fa-user-graduate"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{statistics?.totalCredit}}</h3>
                        <small class="text-muted fs-3"> Total des Étudiants</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
